.comments__section {
  border-bottom: 1px solid $comments-border;
  border-left: 1px solid $comments-border;
  border-right: 1px solid $comments-border;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  background: $comments-bg;

  .comments__icons {
    @include flex(row, space-between);
    height: 30px;
    padding: 6px 2.4% 0;

    .heart__comment {
      @include flex();

      .comment__icon {
        width: 27px;
        margin-right: 12px;
        cursor: pointer;

        svg {
          padding: 0 15% 0;
          g {
            transform: scale(0.05);
          }
        }
      }

      .comment {
        width: 29px;
      }
    }

    .bookmark {
      width: 18px;
      margin-top: 2px;
    }
  }

  .comment__icon {
    width: 27px;
    margin-right: 12px;
    cursor: pointer;

    svg {
      padding: 0 15% 0;
      g {
        transform: scale(0.05);
      }
    }
  }

  .likes {
    margin: 4px 0 0 2.6%;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .comments__container {
    margin: 13px 2.6% 10px;

    .user__comment {
      margin: 10px 0 0;
      width: 94.8%;
      @include flex();
    }

    .user__comment a {
      text-decoration: none;
      color: $comment-username-color;
      font-size: 1.4rem;
      font-weight: 700;
    }

    .user__comment p {
      margin-left: 5px;
      width: 100%;
      font-size: 1.4rem;
    }
  }

  .post__timestamp {
    display: block;
    padding-bottom: 12px;
    margin: 0 2.6% 10px;
    font-size: 1.1rem;
    color: $post-timestamp-color;
    border-bottom: 1px solid $post-border;
  }

  .comment__box {
    display: inline-block;
    width: 96%;
    margin: 0 0 16px 2.4%;

    form {
      @include flex();

      .comment__input {
        width: 90%;
        height: 25px;
        font-size: 1.4rem;
        border: none;
        outline: none;
      }

      .ellipses {
        width: 2.5%;
        height: auto;
        margin: 8px 0 0 5.5%;
        cursor: pointer;
      }
    }
  }
}
