.logout__cover {
  z-index: 90;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: $logout-bg;

  p {
    width: 100%;
    text-align: center;
    margin: 200px auto 20px;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .logout__container {
    margin: 0px auto 0;
    height: 150px;
    width: 100%;
    max-width: 400px;
    @include border(1px, solid, $logout-modal-border);
    @include border-radius(3px);
    background: $logout-modal-bg;

    .logout__btn {
      height: 75px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      border: none;
      -webkit-appearance: none;

      &:hover {
        background: $logout-btn;
        opacity: 0.5;
      }
    }

    .no {
      border-top: 1px solid $logout-btn;
    }
  } // Вихід з контейнера
} // Вихід з обкладинки

.logout__cover--hidden {
  display: none;
}
