* {
  box-sizing: border-box;
}
@font-face {
  font-family: "RalewayB";
  src: url("./fonts/Raleway/RalewayBold/RalewayBold.eot");
  src: url("./fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
    url("./fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.d1 {
  margin: 0 auto;
  height: 71px;
  /* filter: drop-shadow(3px 3px 4px gray);  */
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 4px gray;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.drop_down {
  text-align: center;
  border-right: 1px solid lightgrey;
  margin-top: auto;
  padding-top: 29px;
  font-size: 13px;
  margin-bottom: auto;
  background-color: white;
  height: 72px;
  width: 15%;
  border-radius: 10px 0px 0px 10px;
}

.d1 input {
  height: 72px;
  width: 65%;
  font-family: "RalewayB";
  min-width: 120px;
  padding-left: 10px;
  border: none;
  background: rgb(255, 255, 255);
  color: #9e9c9c;
}

#chkbx {
  display: none;
}
#chkbx:checked ~ .burger {
  display: block;
}
#chkbx:checked ~ .drop_down {
  border-radius: 10px 0 0 0;
}

.d1 .burger {
  height: auto;
  width: 15%;
  border-radius: 0px 0px 10px 10px;
  background: white;
  display: none;
}

.d1 .burger p {
  border-top: 1px solid lightgray;
  margin: 0;
}

.d1 button {
  width: 20%;
  height: 72px;
  border: none;
  min-width: 95px;
  right: 0;
  background: #15a4b5;
  border-radius: 0 10px 10px 0;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: "RalewayB";
}
